{% extends 'layout.html' %}

{% block content %}

<div class="intro">
	<div class="container">
		<div class="row">
			<div class="col">
				<h1 class="h1-responsive font-weight-bold text-uppercase white-text my-0">
					<span class="h3-responsive">It's time to</span>
				</h1>
				<h3 class="h3-responsive font-weight-bold text-uppercase yellow-text">
					Start <span class="text-light">your</span> education <span class="text-light">now</span>
				</h3>
				<div class="d-flex flex-row mt-3">
					<button class="btn unique-color-dark white-text border rounded">
						<i class="fa fa-eye"></i> Choose a course
					</button>
					<button class="btn bg-tranparent border white-text rounded">
						Learn more
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<main class="container-fluid">

<!-- counters -->
	<section class="row py-5 white">
		<div class="container">
			<div class="row d-flex justify-content-center">
		      	<div class="col-md-6 col-lg-3 text-center">
			        <h4 class="h1 font-weight-normal mb-3">
						<i class="fas fa-file-alt grey-text"></i>
						<span class="d-inline-block count-up" data-from="0" data-to="100" data-time="2000">100</span>
			        </h4>
			        <p class="font-weight-normal text-muted">Unique Page</p>
		      	</div>
		      	<div class="col-md-6 col-lg-3 text-center">
			        <h4 class="h1 font-weight-normal mb-3">
						<i class="fas fa-layer-group grey-text"></i>
						<span class="d-inline-block count1" data-from="0" data-to="250" data-time="2000">250</span>
			        </h4>
			        <p class="font-weight-normal text-muted">Block Variety</p>
		      	</div>
	    	  	<div class="col-md-6 col-lg-3 text-center">
			        <h4 class="h1 font-weight-normal mb-3">
						<i class="fas fa-pencil-ruler grey-text"></i>
						<span class="d-inline-block count2" data-from="0" data-to="330" data-time="2000">330</span>
			        </h4>
			        <p class="font-weight-normal text-muted">Reusable Component</p>
				</div>
		      	<div class="col-md-6 col-lg-3 text-center">
			        <h4 class="h1 font-weight-normal mb-3">
						<i class="fab fa-react grey-text"></i>
						<span class="d-inline-block count3" data-from="0" data-to="430" data-time="2000">430</span>
			        </h4>
			        <p class="font-weight-normal text-muted">Crafted Element</p>
      			</div>
		    </div>
		</div>
	</section>

	<section class="row py-5 rgba-grey-slight">
		<div class="container">
			<div class="row">
				<div class="col">
				    <h3 class="h3-responsive text-center font-weight-bold text-uppercase">Latest news</h3>
				    
				    <div class="row">
						<div class="col-md-12">
					        <div class="card text-center bg-transparent z-depth-0">
								<div class="card-body px-5 pt-5 pb-4">
					            	<div class="row">
					              		<div class="col-md-5 mb-md-4">
											<div class="view overlay z-depth-1 mb-4">
												<img src="https://mdbootstrap.com/img/Photos/Others/img%20(43).jpg" class="img-fluid rounded-0" alt="Sample image">
												<a>
													<div class="mask rgba-white-slight waves-effect waves-light"></div>
												</a>
											</div>
										</div>
										<div class="col-md-6 text-left mb-md-5 mb-4">
					                		<h4 class="mb-3">
					                			<strong>This is title of the news</strong>
					                		</h4>
					                		<p class="dark-grey-text">
					                			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis...
					                		</p>
					                		<p>by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>
					                		<a class="btn btn-indigo btn-sm">Read more</a>
										</div>
									</div>
					            	<div class="row">
										<div class="col-md-6 col-lg-4">
											<div class="single-news">
												<div class="row mb-3">
													<div class="col-md-4">
														<div class="view overlay rgba-white-slight z-depth-1 mb-3">
															<img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(95).jpg" class="img-fluid rounded-0" alt="Minor sample post image">
															<a>
																<div class="mask rgba-white-slight waves-effect waves-light"></div>
															</a>
														</div>
													</div>
													<div class="col-md-8">
														<p class="font-small text-left mb-2"><strong>19/08/2016</strong></p>
														<p class="text-left">
															<a>
																Title of the news <i class="fas fa-angle-right float-right"></i>
															</a>
														</p>
													</div>
												</div>
											</div>
					              		</div>
					              		<div class="col-md-6 col-lg-4">
											<div class="single-news">
												<div class="row mb-3">
													<div class="col-md-4">
														<div class="view overlay rgba-white-slight z-depth-1 mb-3">
															<img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(95).jpg" class="img-fluid rounded-0" alt="Minor sample post image">
															<a>
																<div class="mask rgba-white-slight waves-effect waves-light"></div>
															</a>
														</div>
													</div>
													<div class="col-md-8">
														<p class="font-small text-left mb-2"><strong>19/08/2016</strong></p>
														<p class="text-left">
															<a>
																Title of the news <i class="fas fa-angle-right float-right"></i>
															</a>
														</p>
													</div>
												</div>
											</div>
					              		</div>
					              		<div class="col-md-6 col-lg-4">
											<div class="single-news">
												<div class="row mb-3">
													<div class="col-md-4">
														<div class="view overlay rgba-white-slight z-depth-1 mb-3">
															<img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(95).jpg" class="img-fluid rounded-0" alt="Minor sample post image">
															<a>
																<div class="mask rgba-white-slight waves-effect waves-light"></div>
															</a>
														</div>
													</div>
													<div class="col-md-8">
														<p class="font-small text-left mb-2"><strong>19/08/2016</strong></p>
														<p class="text-left">
															<a>
																Title of the news <i class="fas fa-angle-right float-right"></i>
															</a>
														</p>
													</div>
												</div>
											</div>
					              		</div>
					            	</div>
								</div>
					        </div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section class="row py-5 unique-color-dark">
		<div class="container">
			<div class="row">
				<div class="col">
					<h3 class="h3-responsive font-weight-bold text-center white-text text-uppercase mb-3">
						Most popular courses
					</h3>
					<p class="text-center text-light mb-4">
						choose your way for your future
					</p>

					<div class="row mb-3">
						<div class="col-12">
							<ul class="nav md-pills flex-center flex-wrap mx-0" role="tablist">
								<li class="nav-item">
									<a class="btn btn-sm btn-light active font-weight-bold" data-toggle="tab" href="#panel31" role="tab">ALL</a>
								</li>
								<li class="nav-item">
									<a class="btn btn-sm btn-light font-weight-bold" data-toggle="tab" href="#panel32" role="tab">BRANDING</a>
								</li>
								<li class="nav-item">
									<a class="btn btn-sm btn-light font-weight-bold" data-toggle="tab" href="#panel33" role="tab">PACKAGING</a>
								</li>
								<li class="nav-item">
									<a class="btn btn-sm btn-light font-weight-bold" data-toggle="tab" href="#panel34" role="tab">PRINT DESIGN</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="tab-content">
						<div class="tab-pane fade show in active" id="panel31" role="tabpanel">
							<div class="row">
								<div class="col-lg-4 col-md-12 mb-4">
									<div class="view overlay zoom z-depth-2">
										<img src="https://mdbootstrap.com/img/Photos/Others/project1.jpg" class="img-fluid">
									</div>
									<p class="text-uppercase text-center font-weight-bold text-light my-4">Lorem ipsum dolor sit amet</p>
								</div>
								<div class="col-lg-4 col-md-6 mb-4">
									<div class="view overlay zoom z-depth-2">
										<img src="https://mdbootstrap.com/img/Photos/Others/project8.jpg" class="img-fluid">
									</div>
									<p class="text-uppercase text-center font-weight-bold text-light my-4">Lorem ipsum dolor sit amet</p>
								</div>
								<div class="col-lg-4 col-md-6 mb-4">
									<div class="view overlay zoom z-depth-2">
										<img src="https://mdbootstrap.com/img/Photos/Others/project4.jpg" class="img-fluid">
									</div>
									<p class="text-uppercase text-center font-weight-bold text-light my-4">Lorem ipsum dolor sit amet</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="row py-5 imaged">
		<div class="container">
			<div class="row">
				<div class="col">
					<h3 class="h3-responsive font-weight-bold text-center white-text text-uppercase">
						Your wait is <span class="orange-text">over</span>
					</h3>
					<p class="lead text-center text-light">
						Time to invest in your future
					</p>
					<form class="my-3 md-form" action="" method="post" target="_blank">
						<div class="d-flex flex-column flex-md-row w-responsive mx-auto md-form my-3">
							<input type="text" class="form-control mx-0 mr-md-1 white-text" required placeholder="Your name:">
							<input type="tel" class="form-control mx-0 ml-md-1 white-text" required placeholder="Your phone:">
						</div>
						<input type="email" class="form-control w-responsive mx-auto white-text" required placeholder="Your email:">
						<textarea name="" id="" class="form-control w-responsive mx-auto my-3 white-text" required rows="4" placeholder="Some about you:"></textarea>
						<div class="text-center">
							<button class="btn rgba-blue-strong white-text rounded">
								I want to invest now
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section class="row py-5 unique-color-dark">
		<div class="container">
			<div class="row">
				<div class="col">
					<h3 class="h3-responsive text-center text-uppercase font-weight-bold pb-2 mb-4 white-text">Testimonials</h3>
					<p class="text-muted w-responsive mx-auto mb-5">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.
					</p>
					<div class="row d-flex justify-content-center">
					    <div class="col-md-12">
					        <div class="row p-5 rgba-white-slight rounded z-depth-1">
					          <div class="col-lg-8 d-flex flex-column justify-content-between">
					            <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					            <div>
					              <p class="font-weight-bold lead mb-2 white-text"><strong>Anna Smith</strong></p>
					              <p class="font-weight-bold text-muted">Product manager</p>
					            </div>
					          </div>
					          <div class="col-lg-4 d-flex mb-2 align-items-center">
					              <div class="avatar mx-4 w-100 d-flex justify-content-center align-items-center">
					                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle img-fluid z-depth-1" alt="woman avatar">
					              </div>
					            </div>
					        </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</section>


<!-- teachers -->
	<section class="row py-5 rgba-grey-slight">
		<div class="container">
			<div class="row">
				<div class="col">
					<h3 class="h3-responsive text-center text-uppercase font-weight-bold pb-2 mb-4">Our amazing teachers</h3>
					<p class="text-muted w-responsive mx-auto mb-5">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.
					</p>
					<div class="row">
						<div class="col-lg-3 col-md-6 mb-4 text-center">
							<div class="avatar mx-auto">
								<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
							</div>
							<h5 class="font-weight-bold mt-4 mb-3">
								Anna Williams
							</h5>
							<p class="text-uppercase blue-text">
								<strong>Graphic designer</strong>
							</p>
							<p class="grey-text">
								Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci sed quia non numquam modi tempora eius.
							</p>
							<ul class="list-unstyled mb-0">
								<a class="p-2 fa-lg fb-ic">
									<i class="fab fa-facebook-f blue-text"> </i>
								</a>
								<a class="p-2 fa-lg tw-ic">
									<i class="fab fa-twitter blue-text"> </i>
								</a>
								<a class="p-2 fa-lg ins-ic">
									<i class="fab fa-instagram blue-text"> </i>
								</a>
							</ul>
						</div>
						<div class="col-lg-3 col-md-6 mb-4 text-center">
							<div class="avatar mx-auto">
								<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
							</div>
							<h5 class="font-weight-bold mt-4 mb-3">
								Anna Williams
							</h5>
							<p class="text-uppercase blue-text">
								<strong>Graphic designer</strong>
							</p>
							<p class="grey-text">
								Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci sed quia non numquam modi tempora eius.
							</p>
							<ul class="list-unstyled mb-0">
								<a class="p-2 fa-lg fb-ic">
									<i class="fab fa-facebook-f blue-text"> </i>
								</a>
								<a class="p-2 fa-lg tw-ic">
									<i class="fab fa-twitter blue-text"> </i>
								</a>
								<a class="p-2 fa-lg ins-ic">
									<i class="fab fa-instagram blue-text"> </i>
								</a>
							</ul>
						</div>
						<div class="col-lg-3 col-md-6 mb-4 text-center">
							<div class="avatar mx-auto">
								<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
							</div>
							<h5 class="font-weight-bold mt-4 mb-3">
								Anna Williams
							</h5>
							<p class="text-uppercase blue-text">
								<strong>Graphic designer</strong>
							</p>
							<p class="grey-text">
								Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci sed quia non numquam modi tempora eius.
							</p>
							<ul class="list-unstyled mb-0">
								<a class="p-2 fa-lg fb-ic">
									<i class="fab fa-facebook-f blue-text"> </i>
								</a>
								<a class="p-2 fa-lg tw-ic">
									<i class="fab fa-twitter blue-text"> </i>
								</a>
								<a class="p-2 fa-lg ins-ic">
									<i class="fab fa-instagram blue-text"> </i>
								</a>
							</ul>
						</div>
						<div class="col-lg-3 col-md-6 mb-4 text-center">
							<div class="avatar mx-auto">
								<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
							</div>
							<h5 class="font-weight-bold mt-4 mb-3">
								Anna Williams
							</h5>
							<p class="text-uppercase blue-text">
								<strong>Graphic designer</strong>
							</p>
							<p class="grey-text">
								Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci sed quia non numquam modi tempora eius.
							</p>
							<ul class="list-unstyled mb-0">
								<a class="p-2 fa-lg fb-ic">
									<i class="fab fa-facebook-f blue-text"> </i>
								</a>
								<a class="p-2 fa-lg tw-ic">
									<i class="fab fa-twitter blue-text"> </i>
								</a>
								<a class="p-2 fa-lg ins-ic">
									<i class="fab fa-instagram blue-text"> </i>
								</a>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>


<!-- social -->
	<section class="row py-5 white">
		<div class="container">
			<div class="row text-center d-flex justify-content-center my-5">
			      <div class="col-lg-3 col-md-6 mb-4">
			        <i class="fas fa-envelope-open fa-3x mb-4 grey-text"></i>
			        <h5 class="font-weight-normal mb-3">Subscription Ready</h5>
			        <p class="text-muted mb-0">MailChimp integration included</p>
			      </div>
			      <div class="col-lg-3 col-md-6 mb-4">
			        <i class="fas fa-layer-group fa-3x mb-4 grey-text"></i>
			        <h5 class="font-weight-normal mb-3">Block Variety</h5>
			        <p class="text-muted mb-0">Develop pages like lego</p>
			      </div>
			      <div class="col-lg-3 col-md-6 mb-4">
			        <i class="fas fa-brush fa-3x mb-4 grey-text"></i>
			        <h5 class="font-weight-normal mb-3">Color Pallet</h5>
			        <p class="text-muted mb-0">Dozen of colors for elements</p>
			      </div>
			      <div class="col-lg-3 col-md-6 mb-4">
			        <i class="fas fa-puzzle-piece fa-3x mb-4 grey-text"></i>
			        <h5 class="font-weight-normal mb-3">Page Builder</h5>
			        <p class="text-muted mb-0">Drag and drop page design</p>
			      </div>
			    </div>
		</div>
	</section>


<!-- subscribe -->
	<section class="row py-5 imaged-2">
		<div class="container">
			<div class="row">
				<div class="col">
					<h3 class="h3-responsive font-weight-bold text-center white-text text-uppercase">
						News and Updates
					</h3>
					<p class="lead text-center text-light">
						Subscribe to our newsletter and receive the latest news from our school
					</p>
					
					<form class="input-grey mb-3" action="" method="post" target="_blank">
						<div class="form-row">
							<div class="col-md-4 ml-auto">
								<div class="input-group input-group-lg z-depth-1">
									<div class="input-group-prepend">
										<span class="input-group-text rgba-white-light border-0"><i class="fa fa-envelope white-text"></i></span>
									</div>
									<input type="email" name="email" class="form-control rgba-white-slight border-0 z-depth-0"
																	placeholder="Email Address">
								</div>
							</div>
							<div class="col-md-2 mr-auto">
								<button class="btn btn-block btn-primary" type="submit">Subscribe</button>
							</div>
						</div>
					</form>

					<div class="social text-center">
						<a class="mx-1" href="#"><i class="fab fa-facebook-f p-2 rounded rgba-white-light white-text"></i></a>
						<a class="mx-1" href="#"><i class="fab fa-twitter p-2 rounded rgba-white-light white-text"></i></a>
						<a class="mx-1" href="#"><i class="fab fa-linkedin-in p-2 rounded rgba-white-light white-text"></i></a>
						<a class="mx-1" href="#"><i class="fab fa-instagram p-2 rounded rgba-white-light white-text"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock %}

{% block scripts %}
<script></script>
{% endblock %}