<div class="p-2 border-bottom">
    <div class="mb-5">
        <h5 class="h5-responsive font-weight-bold mb-3 text-center">Skill group</h5>
        <div class="divider-small mb-3"></div>
        <div class="form-check mb-2 custom-radio w-responsive mx-auto">
            <input type="radio" class="custom-control-input" id="materialGroupExample1" checked name="groupOfMaterialRadios">
            <label class="custom-control-label" for="materialGroupExample1">All</label>
        </div>
        <div class="form-check mb-2 custom-radio w-responsive mx-auto">
            <input type="radio" class="custom-control-input" id="materialGroupExample3" name="groupOfMaterialRadios">
            <label class="custom-control-label" for="materialGroupExample3">Front-End</label>
        </div>
        <div class="form-check mb-2 custom-radio w-responsive mx-auto">
            <input type="radio" class="custom-control-input" id="materialGroupExample4" name="groupOfMaterialRadios">
            <label class="custom-control-label" for="materialGroupExample4">UI/UX Designers</label>
        </div>
    </div>

</div>

<div class="p-2 border-bottom position-relative">
    <form action="" class="md-form w-responsive mx-auto" method="GET">
        <div class="d-flex flex-column">
            <h5 class="h5-responsive black-text text-center mb-3 font-weight-bold">
                Search course
            </h5>
            <input type="text" class="form-control black-text" placeholder="Course title">
            <input type="text" class="form-control black-text" placeholder="Course ID">
        </div>
        <div class="text-center mt-4">
            <button class="btn btn-primary btn-block rounded">
                <i class="fa fa-search"></i> Search
            </button>
        </div>
    </form>
</div>

<div class="p-2 border-bottom">
    <h5 class="h5-responsive font-weight-bold mb-3 text-center mt-4">Testimonials</h5>
    <div class="divider-small mb-3"></div>
    <div class="row">
        <div class="col d-flex align-items-stretch">
            <div class="card z-depth-0">
                <div class="card-body m-1">
                    <div class="row">
                        <div class="col-lg-4 d-flex mb-2 align-items-center">
                            <div class="avatar w-100 white d-flex justify-content-center align-items-center">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="img-fluid z-depth-1" alt="woman avatar">
                            </div>
                        </div>
                        <div class="col-lg-8 text-muted d-flex flex-column justify-content-end pt-2">
                            <p class="mb-1"><strong>Anna Smith</strong></p>
                            <p class="mb-1"><i>Product Manager</i></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <p class="font-italic small text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, fuga dolorum dolores voluptatum ea alias accusamus repudiandae! Accusamus, ullam consequatur.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>