{% extends 'layout.html' %}

{% block content %}
{% include 'page-header.html' %}

<main class="container-fluid">
	<section class="row py-5">
		<div class="container">
			<div class="row">
				<div class="col">
					<h3 class="h3-responsive font-weight-bold text-uppercase text-center">
						UI/UX Designers
					</h3>
					<p class="text-muted text-center">
						practicing in Photoshop, Illustrator and etc.
					</p>
					<div class="row">
					      <div class="col-lg-3 col-md-4 col-sm-6">
					        <div class="p-4">
					          <div
					            class="avatar w-100 white d-flex justify-content-center align-items-center"
					          >
					            <img
					              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg"
					              class="img-fluid rounded-circle z-depth-1"
					            />
					          </div>
					          <div class="text-center mt-3">
					            <h6 class="font-weight-bold pt-2">Alan Turing</h6>
					            <p class="text-muted">
					              <small
					                ><i
					                  >Lorem ipsum dolor sit amet, consectetur adipiscing
					                  elit.</i
					                ></small
					              >
					            </p>
					          </div>
					        </div>
					      </div>
					      <div class="col-lg-3 col-md-4 col-sm-6">
					        <div class="p-4">
					          <div
					            class="avatar w-100 white d-flex justify-content-center align-items-center"
					          >
					            <img
					              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg"
					              class="img-fluid rounded-circle z-depth-1"
					            />
					          </div>
					          <div class="text-center mt-3">
					            <h6 class="font-weight-bold pt-2">Tom Johnson</h6>
					            <p class="text-muted">
					              <small
					                ><i
					                  >Lorem ipsum dolor sit amet, consectetur adipiscing
					                  elit.</i
					                ></small
					              >
					            </p>
					          </div>
					        </div>
					      </div>
					      <div class="col-lg-3 col-md-4 col-sm-6">
					        <div class="p-4">
					          <div
					            class="avatar w-100 white d-flex justify-content-center align-items-center"
					          >
					            <img
					              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg"
					              class="img-fluid rounded-circle z-depth-1"
					            />
					          </div>
					          <div class="text-center mt-3">
					            <h6 class="font-weight-bold pt-2">Alex Laurie</h6>
					            <p class="text-muted">
					              <small
					                ><i
					                  >Lorem ipsum dolor sit amet, consectetur adipiscing
					                  elit.</i
					                ></small
					              >
					            </p>
					          </div>
					        </div>
					      </div>
					      <div class="col-lg-3 col-md-4 col-sm-6">
					        <div class="p-4">
					          <div
					            class="avatar w-100 white d-flex justify-content-center align-items-center"
					          >
					            <img
					              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(2).jpg"
					              class="img-fluid rounded-circle z-depth-1"
					            />
					          </div>
					          <div class="text-center mt-3">
					            <h6 class="font-weight-bold pt-2">Nathalie Fry</h6>
					            <p class="text-muted">
					              <small
					                ><i
					                  >Lorem ipsum dolor sit amet, consectetur adipiscing
					                  elit.</i
					                ></small
					              >
					            </p>
					          </div>
					        </div>
					      </div>
					      <div class="col-lg-3 col-md-4 col-sm-6">
					        <div class="p-4">
					          <div
					            class="avatar w-100 white d-flex justify-content-center align-items-center"
					          >
					            <img
					              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
					              class="img-fluid rounded-circle z-depth-1"
					            />
					          </div>
					          <div class="text-center mt-3">
					            <h6 class="font-weight-bold pt-2">Emma Lovelace</h6>
					            <p class="text-muted">
					              <small
					                ><i
					                  >Lorem ipsum dolor sit amet, consectetur adipiscing
					                  elit.</i
					                ></small
					              >
					            </p>
					          </div>
					        </div>
					      </div>
					      <div class="col-lg-3 col-md-4 col-sm-6">
					        <div class="p-4">
					          <div
					            class="avatar w-100 white d-flex justify-content-center align-items-center"
					          >
					            <img
					              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(5).jpg"
					              class="img-fluid rounded-circle z-depth-1"
					            />
					          </div>
					          <div class="text-center mt-3">
					            <h6 class="font-weight-bold pt-2">Joanna Thompson</h6>
					            <p class="text-muted">
					              <small
					                ><i
					                  >Lorem ipsum dolor sit amet, consectetur adipiscing
					                  elit.</i
					                ></small
					              >
					            </p>
					          </div>
					        </div>
					      </div>
					      <div class="col-lg-3 col-md-4 col-sm-6">
					        <div class="p-4">
					          <div
					            class="avatar w-100 white d-flex justify-content-center align-items-center"
					          >
					            <img
					              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg"
					              class="img-fluid rounded-circle z-depth-1"
					            />
					          </div>
					          <div class="text-center mt-3">
					            <h6 class="font-weight-bold pt-2">Billy Turner</h6>
					            <p class="text-muted">
					              <small
					                ><i
					                  >Lorem ipsum dolor sit amet, consectetur adipiscing
					                  elit.</i
					                ></small
					              >
					            </p>
					          </div>
					        </div>
					      </div>
					      <div class="col-lg-3 col-md-4 col-sm-6">
					        <div class="p-4">
					          <div
					            class="avatar w-100 white d-flex justify-content-center align-items-center"
					          >
					            <img
					              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(4).jpg"
					              class="img-fluid rounded-circle z-depth-1"
					            />
					          </div>
					          <div class="text-center mt-3">
					            <h6 class="font-weight-bold pt-2">Veronica Smith</h6>
					            <p class="text-muted">
					              <small
					                ><i
					                  >Lorem ipsum dolor sit amet, consectetur adipiscing
					                  elit.</i
					                ></small
					              >
					            </p>
					          </div>
					        </div>
					      </div>
					    </div>

					<hr class="w-responsive mx-auto rgba-grey-light mt-3 mb-5">

					<h3 class="h3-responsive font-weight-bold text-uppercase text-center">
						Front-End Developers
					</h3>
					<p class="text-muted text-center">
						practicing in Node.JS, Angular.JS, Vue.JS ant etc
					</p>
					<div class="row d-flex justify-content-center">
					      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
					        <div class="p-4">
					          <div
					            class="avatar w-100 white d-flex justify-content-center align-items-center"
					          >
					            <img
					              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg"
					              class="img-fluid rounded-circle z-depth-1"
					            />
					          </div>
					          <div class="text-center mt-3">
					            <h6 class="font-weight-bold pt-2">Alan Turing</h6>
					            <p class="text-muted">
					              <small
					                ><i
					                  >Lorem ipsum dolor sit amet, consectetur adipiscing
					                  elit.</i
					                ></small
					              >
					            </p>
					          </div>
					        </div>
					      </div>
					      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
					        <div class="p-4">
					          <div
					            class="avatar w-100 white d-flex justify-content-center align-items-center"
					          >
					            <img
					              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg"
					              class="img-fluid rounded-circle z-depth-1"
					            />
					          </div>
					          <div class="text-center mt-3">
					            <h6 class="font-weight-bold pt-2">Tom Johnson</h6>
					            <p class="text-muted">
					              <small
					                ><i
					                  >Lorem ipsum dolor sit amet, consectetur adipiscing
					                  elit.</i
					                ></small
					              >
					            </p>
					          </div>
					        </div>
					      </div>
					      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
					        <div class="p-4">
					          <div
					            class="avatar w-100 white d-flex justify-content-center align-items-center"
					          >
					            <img
					              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg"
					              class="img-fluid rounded-circle z-depth-1"
					            />
					          </div>
					          <div class="text-center mt-3">
					            <h6 class="font-weight-bold pt-2">Alex Laurie</h6>
					            <p class="text-muted">
					              <small
					                ><i
					                  >Lorem ipsum dolor sit amet, consectetur adipiscing
					                  elit.</i
					                ></small
					              >
					            </p>
					          </div>
					        </div>
					      </div>
					      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
					        <div class="p-4">
					          <div
					            class="avatar w-100 white d-flex justify-content-center align-items-center"
					          >
					            <img
					              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(2).jpg"
					              class="img-fluid rounded-circle z-depth-1"
					            />
					          </div>
					          <div class="text-center mt-3">
					            <h6 class="font-weight-bold pt-2">Nathalie Fry</h6>
					            <p class="text-muted">
					              <small
					                ><i
					                  >Lorem ipsum dolor sit amet, consectetur adipiscing
					                  elit.</i
					                ></small
					              >
					            </p>
					          </div>
					        </div>
					      </div>
					      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
					        <div class="p-4">
					          <div
					            class="avatar w-100 white d-flex justify-content-center align-items-center"
					          >
					            <img
					              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
					              class="img-fluid rounded-circle z-depth-1"
					            />
					          </div>
					          <div class="text-center mt-3">
					            <h6 class="font-weight-bold pt-2">Emma Lovelace</h6>
					            <p class="text-muted">
					              <small
					                ><i
					                  >Lorem ipsum dolor sit amet, consectetur adipiscing
					                  elit.</i
					                ></small
					              >
					            </p>
					          </div>
					        </div>
					      </div>
					      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
					        <div class="p-4">
					          <div
					            class="avatar w-100 white d-flex justify-content-center align-items-center"
					          >
					            <img
					              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(5).jpg"
					              class="img-fluid rounded-circle z-depth-1"
					            />
					          </div>
					          <div class="text-center mt-3">
					            <h6 class="font-weight-bold pt-2">Joanna Thompson</h6>
					            <p class="text-muted">
					              <small
					                ><i
					                  >Lorem ipsum dolor sit amet, consectetur adipiscing
					                  elit.</i
					                ></small
					              >
					            </p>
					          </div>
					        </div>
					      </div>
					      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
					        <div class="p-4">
					          <div
					            class="avatar w-100 white d-flex justify-content-center align-items-center"
					          >
					            <img
					              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg"
					              class="img-fluid rounded-circle z-depth-1"
					            />
					          </div>
					          <div class="text-center mt-3">
					            <h6 class="font-weight-bold pt-2">Billy Turner</h6>
					            <p class="text-muted">
					              <small
					                ><i
					                  >Lorem ipsum dolor sit amet, consectetur adipiscing
					                  elit.</i
					                ></small
					              >
					            </p>
					          </div>
					        </div>
					      </div>
					    </div>
				</div>
				<div class="col-3 d-none border-left d-lg-block">
					{% include 'sidebar-2.html' %}
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock %}