::-webkit-scrollbar {
	width: 0;
	height: 0;
}

* {
	padding: 0;
	margin: 0;
}

header {
	z-index: 99999;
}
.avatar-photo {
	height: 36px;
	width: 36px;
	border-radius: 50%;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: white;
}

.intro {
	width: 100vw;
	height: 100vh;
	background: -webkit-linear-gradient(rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%), url('https://images.unsplash.com/photo-1468779036391-52341f60b55d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1521&q=80');
	background: -o-linear-gradient(rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%), url('https://images.unsplash.com/photo-1468779036391-52341f60b55d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1521&q=80');
	background: linear-gradient(rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%), url('https://images.unsplash.com/photo-1468779036391-52341f60b55d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1521&q=80');
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.imaged {
	background: -webkit-linear-gradient(rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%), url('https://images.unsplash.com/photo-1509537257950-20f875b03669?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
	background: -o-linear-gradient(rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%), url('https://images.unsplash.com/photo-1509537257950-20f875b03669?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
	background: linear-gradient(rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%), url('https://images.unsplash.com/photo-1509537257950-20f875b03669?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
.imaged-2 {
	background: -webkit-linear-gradient(rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%), url('https://images.unsplash.com/photo-1422207258071-70754198c4a2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1482&q=80');
	background: -o-linear-gradient(rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%), url('https://images.unsplash.com/photo-1422207258071-70754198c4a2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1482&q=80');
	background: linear-gradient(rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%), url('https://images.unsplash.com/photo-1422207258071-70754198c4a2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1482&q=80');
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

select {
	border: none !important;
	border-bottom: 1px solid silver !important;
	color: #6C7571 !important;
}
select:focuse {
	border-bottom: 1px solid #4285F4 !important;
}

textarea {
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: 1px solid silver !important;
	resize: none;
}
textarea:focus {
	border-bottom: 2px solid #4285F4 !important;
}

/* page-header */
.courses-image {
	background: -webkit-linear-gradient(rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%), url('https://images.unsplash.com/photo-1558320043-13cf3c28ecc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1568&q=80');
	background: -o-linear-gradient(rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%), url('https://images.unsplash.com/photo-1558320043-13cf3c28ecc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1568&q=80');
	background: linear-gradient(rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%), url('https://images.unsplash.com/photo-1558320043-13cf3c28ecc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1568&q=80');
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.teachers-image {
	background: -webkit-linear-gradient(rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%), url('https://images.unsplash.com/flagged/photo-1550946107-8842ae9426db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80');
	background: -o-linear-gradient(rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%), url('https://images.unsplash.com/flagged/photo-1550946107-8842ae9426db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80');
	background: linear-gradient(rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%), url('https://images.unsplash.com/flagged/photo-1550946107-8842ae9426db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80');
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.courses {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-width: 33%;
	-moz-column-width: 33%;
	column-width: 33%; 
}
.courses .pics {
	-webkit-transition: all 350ms ease;
	transition: all 350ms ease; 
}
.courses .animation {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1); 
}

@media (max-width: 450px) {
	.courses {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-width: 100%;
		-moz-column-width: 100%;
		column-width: 100%;
	}
}